commands:
  01_dotnet_install:
    command: |
      if ! dotnet --version | grep -q "8\."; then
        echo ".NET Core 8 is not installed, trying to install it..."
        sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
        sudo wget -O /etc/yum.repos.d/microsoft-prod.repo https://packages.microsoft.com/config/fedora/37/prod.repo
        sudo dnf install -y dotnet-sdk-8.0
        dotnet --version > /tmp/dotnet-version
      else
        echo ".NET Core 8 is already installed."
      fi
